<div class="row justify-content-center">
  <h4 class="my-3 text-center">新しい記事を投稿 📝</h4>
  <div class="form bg-white col-6 py-5 px-5">
    <%= simple_form_for(@post) do |f| %>
      <%= f.input :title, label:"タイトル", input_html:{class:'form-control bg-white'}%>
      <%= f.input :description, label:"本文", input_html:{class:'form-control bg-white', rows: 3}%>
      <%= f.input :location, label:"場所", input_html:{class:'form-control bg-white'}%>
      <%= f.input :category, label:"カテゴリー", input_html:{class:'form-control bg-white'}%>
      <%= f.input :photos, label:"写真", as: :file, input_html:{ class:'form-control bg-white mb-4', multiple: true }, class:'bg-white'%>
      <div class="d-grid">
        <%= f.submit "投稿", class: "btn btn-info text-white" %>
      </div>
    <% end %>
  </div>
</div>
