<div class="row justify-content-center">
  <h4 class="my-3 text-center">Тќ░сЂЌсЂёУеўС║ІсѓњТіЋуе┐ ­ЪЊЮ</h4>
  <div class="form bg-white col-6 py-5 px-5">
    <%= simple_form_for(@post) do |f| %>
      <%= f.input :title, label:"сѓ┐сѓцсЃѕсЃФ", input_html:{class:'form-control bg-white'}%>
      <%= f.input :description, label:"ТюгТќЄ", input_html:{class:'form-control bg-white', rows: 3}%>
      <%= f.input :location, label:"та┤ТЅђ(жЃйтИѓтљЇ)", input_html:{class:'form-control bg-white'}%>
      <%= f.input :category, as: :check_boxes, label:"сѓФсЃєсѓ┤сЃфсЃ╝", input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item', collection: Post::CATEGORIES%>
      <%= f.input :photos, label:"тєЎуюЪ", as: :file, input_html:{ class:'form-control bg-white mb-4', multiple: true } %>
      <div class="d-grid">
        <%= f.submit "ТіЋуе┐", class: "btn btn-info text-white" %>
      </div>
    <% end %>
  </div>
</div>
