<div class="post-container">
  <% if @post.photos.attached? %>
    <img src="<%= cl_image_path(@post.photos.first.key)%>", class="post-img my-3" >
  <% else %>
    <%= image_tag "example.png", class:"post-img my-3" %>
  <% end %>
  <div>
    <h3 class="mb-2"><%= @post.title %></h3>
    <div class="user-info">
      <%= image_tag @post.user.avatar, class:"avatar-post me-2" %>
      <p><%= @post.user.name %></p>
    </div>
    <p><%= @post.description %></p>
  </div>
</div>
